* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 200vh;
    background-color: black;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky{
    padding: 5px 100px;
    background-color: #fff;    
}
header.sticky ul li a, header.sticky .logo{
    color: #111;

}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style-type: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner{
    position: relative;
    width: 100%;
    height: 200vh;
    background: url(/img/1.jpg);
    background-size: cover;
}

@media screen and (max-width: 1024px){
    header{
        padding: 20px 50px;
    }
    header.sticky{
        padding: 5px 50px;
    }
}

@media screen and (max-width: 768px){
    header{
        padding: 20px 50px;
    }
    header.sticky{
        padding: 5px 50px;
    }
}
    